<h1 class="display-2 text-center font-weight-bold">Burger Shop</h1>
<br>
<br>
<form class="form-inline justify-content-center">
  <div class="form-group text-center mx-sm-3 mb-2">
    <label for="inputPassword2" class="sr-only"></label>
    <input type="input" class="form-control" id="inputPassword2" placeholder="Add a new burger">
  </div>
  <button type="submit" class="btn btn-primary mb-2">Add</button>
</form>
<br>
<br>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">Burgers to be Consumed</div>
      <div class="card-body">
        <ul class="list-group">
          {{#each burgers}}
              {{#if this.devoured}}
              {{else}}
          <li class="list-group-item">{{this.burger_name}}<button type="submit"
              class="btn btn-primary float-right">Consume</button></li>
              {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">Consumed Burgers</div>
      <div class="card-body">
        <ul class="list-group">
          {{#each burgers}}
          {{#if this.devoured}}
          <li class="list-group-item">{{this.burger_name}}
          {{/if}}
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>
</form>